/* Title */
.header {
  text-align: left;
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  margin-top: 20px;
  margin-left: 20px;
}

.slogan {
  text-align: left;
  font-family: 'Sacramento', cursive;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

 /*Picture */
.Courtney {
float: right;
margin-right: 300px;
position: relative;
border-radius: 50%;
}

.profile-pic{
  position: relative;
  border-radius: 50%;
}

  /* Carousel */
.carousel-inner {
  Height:500px ;
  width: 50%;
  display: block;
  text-align: left;
  margin-left: 20px;
}

.carousel-item img {
  height:auto;
  width: 50%;
}

.carousel-indicators {
  margin-left: -750px;
}

.carousel-control-prev-icon {
  background-color:black;
  margin-bottom: -300%;
  margin-left: -50%;

}

.carousel-control-next-icon {
  background-color:black;
  margin-left: -900%;
  margin-bottom: -300%
}

/*Welcome Article*/

#article {
  position: absolute;
  left: 42%;
  top: 90%;
}

.welcome {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 60px;
}

.greeting {
  font-family: 'Shadows Into Light', cursive;
  font-size:20px;
}